@import url(common.css);

body{
    margin: 40px auto;
}
#status_bar{
    width: 100%;
    height: 40px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 5;
}
#status_bar ul{
    position: absolute;
    right:1rem;

    display: flex;
    margin: 10px 0;
}
#status_bar ul li{
    margin: 0 0.3rem;
}

#nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 5;
}
#nav img{
    box-shadow:0 -3px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* section */
section#search{
    position: fixed;
    width: 100%;
    bottom: 60px;
    z-index: 5;
}
input#footer_input{
    display:block;
    width:auto;
    background-color: #dedede;
    border-radius: 20px;
    padding: 8px;
    margin: 1rem auto;
}

#plus_button{
    display:block;
    margin: 0 auto;
}

/* list */
.hidescroll{
    width:470px;
    margin: 0 auto;
    height: 570px;
    overflow: hidden;
}
.listsize{
    width: 500px;
    height: 570px;
    overflow-y: scroll;
}
.listwrap{
    position: relative;
    width:90%;
    margin: 0 auto;
    padding: 1rem 0;
}

ul.items{

}
    ul > li.item_row{
        overflow: hidden;
        padding: 1rem 0;
        border-bottom: 1px solid #dedede;
    }
        ul.item .item_name{
            line-height: 24px;

        }
        .item_delete{
            float: right;
        }